*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: #444444;
    font-size: 12pt;
    padding: 2rem;
}

.mt-2 { margin-top: 2rem !important; }
.mb-2 { margin-bottom: 2rem !important; }
.hide{display: none !important;}
.error-text { color: #08c23c; font-size: inherit; font-weight: bold;}

.form {
    border:.1px solid lightgray;
    border-radius: 5px;
    display: block;
    max-width: 35vw;
    /* Shajedul Hassan Arman */
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font: inherit;
    font-size: inherit;
}
/* Shajedul Hassan Arman */
.form-group {
    display: block;
    padding-bottom: 1px;
}

.input {
    padding: 5px 5px;
    width: 50%;
    border: 1px solid #08c23c;
    border-radius: 4px;
    font: inherit;
    font-size: inherit;
}

.button {
    padding: 10px 24px;
    border-radius: 4px;
    color: white;
    background-color: #08c23c;
    border: none;
    text-decoration: none;
    font: inherit;
    font-size: inherit;
    /* Shajedul Hassan Arman */
}

.b1 {
    margin-right: 1rem;
    /* Shajedul Hassan Arman */
}
